<!DOCTYPE html>
<html ng-app="rest">
<head>
  <title>AngularJS workshop</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <%= yield %>
</div>

</body>
</html>
